@charset "utf-8";

/* 폰트 설정 */
@font-face {
    font-family:'GmarketSansTTFLight';
    src: url("../font/GmarketSansTTFLight.ttf");
}

@font-face {
    font-family:'GmarketSansTTFBold';
    src: url("../font/GmarketSansTTFBold.ttf")
}

@font-face {
    font-family:'GmarketSansTTFMedium';
    src: url("../font/GmarketSansTTFMedium.ttf")
}

@font-face {
    font-family:'Bangtan';
    src: url("../font/DXBangtango-KSCpc-EUC-H.ttf")
}

/* body 기본 설정 */
body {
    font-family: 'GmarketSansTTFMedium';
    font-size: 1.6rem;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    background-image: url('../img/bts.jpg');
    object-fit:cover;
    color: white;
    overflow: hidden;
}

/* Input 버튼 CSS */
input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
}

/* 스크롤바 CSS */
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0.49);
    border-radius: 6.25rem;
}

/* a태그 기본 설정 */
a {
    text-decoration-line: none;
    color: white;
}

input {
    font-family: 'GmarketSansTTFMedium';
}

/* 메뉴 버튼 동작 CSS */
input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block; width:2.5rem;height:2.5rem;position:relative;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:0.5rem;background:#fff;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;z-index:99;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);z-index:99;} /* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {bottom:0;z-index:99;}
input[id="menuicon"]:checked + label {z-index:99;}
input[id="menuicon"]:checked + label span {background:#fff;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="menu"] {display: block; position:fixed;top:0;left: 0;z-index:1; visibility: hidden;}
input[id="menuicon"]:checked + label + div div.menu { visibility: visible; display: block; z-index: 10; background-color: rgba(0,0,0,0.9);}

/* 메뉴 CSS */
#entire {
    width: 71.5rem;
    display: flex;
    flex-direction: row;
    margin-left: 47.5rem;
}
#menuList {
    width: 25rem;
    height: 35rem;
    margin: 6.1875rem 1rem 0 0;
    font-size: 2.0rem;
    font-family: 'Bangtan';
}
.menuList {
    width: 25rem;
    height: 5rem;
    border-bottom: 0.125rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuList:hover {
    cursor: pointer;
    color: white;
}

/* tutorial */
#tutorialList {
    height: 12.5rem;
    text-align: left;
    margin-top: 12.4375rem;
    font-size: 1.2rem;
    display: none;
}
.tutorialList {
    height: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #707070;
}
.tutorialList:hover {
    cursor: pointer;
    color: white;
}

/* playDance */
#playDanceList {
    width: 52.5rem;
    height: 47.5rem;
    display: block;
    visibility: hidden;
}

/* Ranking */
#rankingList {
    height: 5rem;
    text-align: left;
    margin-top: 26.1875rem;
    font-size: 1.2rem;
    display: none;
}
.rankingList {
    height: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #707070;
}
.rankingList:hover {
    cursor: pointer;
    color: white;
}


/* playDance 정렬 버튼 */
.btnSortPlayDance {
    width: 3.75rem;
    height: 2.5rem;
    color: #707070;
    border: 0.0625rem solid #707070;
    border-radius: 0.5rem;
    background-color: black;
    margin: 0 0.5rem;
}

#sortSong {
    color: white;
    border: 0.0625rem solid white;
}

/* playDanceTitle */
.playDancTitle {
    width: 18rem;
    font-size: 1.2rem;
}

/* Swiper CSS */
.swiper-container {
    width: 46rem;
    height: 25rem;
    padding-top: 11.25rem;
    padding-bottom: 11.25rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 46rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 25rem;
    height: 25rem;
    border: 0.25rem solid black;
    border-radius: 2rem;
}


/* 엠블럼 페이지 CSS */
#btnEmblem {display: none;}
.emblem {display: none;}
#btnEmblem:checked + label + div div.emblem {
    display: block; z-index: 99; background-color: rgba(0,0,0,0.9); position: absolute; top: 0; left: 0;
}
/* 버츄얼페이스 페이지 CSS */
#btnVirtualFace {display: none;}
.virtualface {display: none;}
#btnVirtualFace:checked + label + div div.virtualface {
    display: block; z-index: 99; background-color: rgba(0,0,0,0.9); position: absolute; top: 0; left: 0;
}

/* product */
.hoverProduct {
    display: none;
}
.product:hover {
    display: none;
    z-index: -1;
}
.product:hover ~ .hoverProduct {
    display: block;
}
/* Payment 동작 CSS */
#btnPayment {display: none;}
.payment {display: none;}
#btnPayment:checked + div {
    position: absolute;
    z-index: -1;
}
#btnPayment:checked + div + div {
    display: block;
}
#btnPayment:checked + div + div div + div label + div div.payment {
    display: block; z-index: 99; background-color: rgba(0,0,0,0.9); position: absolute; top: 0; left: 0;
}


/* 반응형 폰트 크기 조절 */
@media (min-width: 1024px) {
    html {
        font-size: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}